/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    font-family: 'Inter', 'Helvetica', sans-serif;
    color: #162b13;
}

h1 {
    font-size: 2em;
}

@keyframes run {
    from {transform: translate(-50%, -50%) rotate(0);}
    to {transform: translate(-50%, -50%) rotate(360);}
}

.extension {
    width: 368px;
    height: 400px;
    background-color: rgb(220, 225, 220, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75em 1.8em;
}

.header, .footer {
    flex: 1;
}

.no-active-fast, .active-fast {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    row-gap: 1em;
    padding: 1em 0;

    position: relative;

    margin-bottom: auto;
}

.button {
    padding: 0.9rem 1.125rem;

    border: 1px solid #667b75;
    border-radius: 15px;

    cursor: pointer;

    color: inherit;
    background-color: #f8f8ff;

    transition: transform 0.2s, background-color 0.4s;
}

.fastButton {
    font-size: 1.125em;
}

.button:hover, .complete:hover {
    transform: translateY(-3px);
    background-color: #d7d8d8;
    cursor: pointer;
}

.timeButton {
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10% 40% 10%;
}

.selected {
    color: white;
    text-shadow: 0px 0px 1px black;
}

.hourOptions button:nth-child(1) {
    border: 1px solid #e98e61;
}

.hourOptions button.selected:nth-child(1) {
    background-color: #e98e61;
}

.hourOptions button:nth-child(2) {
    border: 1px solid #319deb;
}

.hourOptions button.selected:nth-child(2) {
    background-color: #319deb;
}

.hourOptions button:nth-child(3) {
    border: 1px solid #8e43b4;
}

.hourOptions button.selected:nth-child(3) {
    background-color: #8e43b4;
}

#progressBorder {
    width: 80%;
    height: 40px;
    border: 1px solid #d77166;
    background-color: #fff4f4;
    border-radius: 10px;
    overflow: hidden;
}

#progressBar {
    background-color: #d77166;
    height: 100%;
    border-radius: 8px;
    width: 0%;
    max-width: 100%;
}

.timerDisplay {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.rotating-border {
    border: 1px solid;
}

.activeFastButtons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.activeFastButton {
    font-size: 0.75em; /* 12px*/
    padding: 0.83em;
    max-width: 40%;
}

.finishButtonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 16px;
    padding: 5px;
}

.complete #finishButton {
    z-index: 2;
    max-width: 100%;
    border: 1px solid #162b13;
    transform: translateY(0);
    background-color: #fff;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.complete {
    position: relative;
}

.complete:hover::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 190px;
    background: linear-gradient(#ffffff, #acdaa1);
    animation: rotate 2s linear infinite;
    border-radius: inherit;
    /* inset: -5px; */
}

.modal {
    text-align: center;
    background-color: #fcda75;
    height: 150px;
    width: 300px;
    margin: auto;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid #162b13;

    position: fixed;
    left: 0;
    right: 0;
    top: 25%;

}

.hidden {
    display: none;
} 